# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
